<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <img height="48" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    Plotly.js for Angular
  </h1>
</div>
<mat-tab-group>
  <mat-tab label="Basic">
    <!-- lazy-loading tab fixes initial Plotly sizing issue -->
    <ng-template matTabContent>
      <section>
        <p>
          Default layout and config
        </p>
        <div class="buttons">
          <button mat-raised-button color="primary"
                  (click)="addRandomY()">
            Add Point
          </button>
          <button mat-raised-button color="primary"
                  (click)="addTrace()">
            Add Trace
          </button>
          <button mat-raised-button color="primary"
                  (click)="plotly.purge()">
            purge()
          </button>
          <button mat-raised-button color="primary"
                  (click)="plotly.react()">
            react()
          </button>
        </div>
        <!-- needs ref in order to be discoverable by @ViewChild? -->
        <!-- style width needed because tab switch has width layout issues -->
        <plotly #plotly [traces]="traces"
                style="height: 500px; width: calc(100vw - 44px);"></plotly>
      </section>
    </ng-template>
  </mat-tab>
  <mat-tab label="Selection Event">
    <ng-template matTabContent>
      <section>
        <p>
          <b>config</b> hides some Plotly buttons, <b>layout</b> with reduced margins.
          <em>plotly_selected</em> and <em>plotly_click</em> event example.
        </p>
        <div class="event-example">
          <plotly [traces]="traces2"
                  [layout]="layout"
                  [config]="config"
                  [events]="['selected', 'plotly_click']"
                  (plotlyEvent)="onPlotlyEvent($event)">
          </plotly>
          <div>
            <h3>Click or Select</h3>
            <ng-container *ngIf="lastEvent">
              <b>{{lastEvent.event}}</b>
              <div *ngIf="lastEvent.data?.points as points">
                <div *ngFor="let p of points">
                  [{{p.pointIndex}}]: ({{ p.x | number:'0.0-1' }}, {{ p.y | number:'0.0-1' }})
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </section>
    </ng-template>
  </mat-tab>
</mat-tab-group>
